@import "./styles/colors.scss";

html {
  height: 100%;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow: auto;
}

body {
  background-image:url("/Dojutsu-Shooter/src/background.png");
  background-color: $black;
  background-size: auto;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas-container canvas, .canvas-container div {
    border-radius: 10px;
    border: 2px solid $purple;
}

.canvas-container {
/*   height: 700px;
  width: 700px; */
  position: relative;
  
}